{% load formset%}

{{ formset.management_form }}
{% for form in formset %}
    <tr class="formsetRow">
        {{ form.id }}
        {% for field in form|exclude_delete_field %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <td>{{ field }} {{ field.errors }}</td>
            {% endif %}
        {% endfor %}
        <td>
            {% if form.id.value and form.DELETE %}
               {{ form.DELETE.label }}: {{ form.DELETE }}
            {% else %}
                <div class="input-group-append">
                    <button 
                        class="btn btn-sm default add-form-row"
                        title="Agregar linea" aria-hidden="true" data-toggle="tooltip" 
                        name="add-row"
                    >
                        <span 
                            class="addlink text-primary" 
                            aria-hidden="true" data-toggle='tooltip'
                        ></span>
                    </button>
                </div>
           {% endif %}
        </td>
    </tr>
{% endfor %}