{% load static formset i18n %}


{% if static %}
    <script type="text/javascript" src="{% static 'formset/js/formset.js' %}"></script>
{% endif %}

    {% if auto_table %}
        <table class="{{ table_class }}" id="{{ table_id }}">
	        <tr>
	            {% for field in formset.0|exclude_delete_field %}
	                {% if not field.is_hidden %}
	                    <th>
	                        {{ field.label }}
	                        {% if field.help_text %}
	                            <img class="help help-tooltip" src="{% static 'admin/img/icon-unknown.svg' %}" title="{{ field.help_text }}">
	                        {% endif %}
	                        
	                    </th>
	                {% endif %}
	            {% endfor %}
	            <th>
	                {% trans "Actions" %}
	            </th>
	        </tr>
	       {% include "formset/_formset.html" %}
	    </table>
    {% else %}
        {% include "formset/_formset.html" %}
    {% endif %}
